<section class="heroes-card">
  <div class="img-container">
    <a href = "/heroes/Ana"><img class="heroesPhoto" src="{{url}}" /></a>
  </div>
  <div class="heroes-name">
    {{text}}
  </div>
</section>
