<section class="heroes-card">
  <div class="img-container">
    <a href = "/heroes/{{name}}"><img class="heroesPhoto" src="{{url}}" /></a>
  </div>
  <div class="heroes-name">
    {{name}}
  </div>
</section>
