html{
  background:url(http://www-scf.usc.edu/~shunkaiz/itp104/overwatch/wallpaper.jpg);
  background-size: cover;
}

.Overwatch-logo{
  width: 145px;
  height: 145px;
  margin: 40px;
  padding: 20px;
  position: relative;
  left: 320px;
  top: 50px;
}

.Overwatch-logo2{
  width: 1000px;
  height:150px;
  margin: 40px;
  padding: 20px;
  position: relative;
  left: 240px;
  top: 50px;
}

.heroe-info-search{
	width: 400px;
	height: 100px;
	position: absolute;
	left: 1225px;
	top: 250px;
}

#heroe-search-input{
	width: 300px;
	height: 35px;
	border: none;
	background-color: #EEE;
}

#heroe-search-input:focus{
	background-color: #FFF;
}

#heroe-search-button{
	width: 35px;
	height: 35px;
	border: none;
	background-color: none;
}

.main-page-massage{
	width: 1200px;
	height: 70px;
	color: #FFFFFF;
	font-size: 60px;
	position:relative;
	left: 450px;
	top: -30px;
}

.tank-heroes{
	border: none;
	border-radius: 45%;
	background-color: #3AA7F7;
	width: 275px;
	height: 275px;
	position: relative;
	left: 490px;
	top: 50px;
}

.damage-heroes{
  border: none;
	border-radius: 45%;
	background-color: #FF7204;
	width: 275px;
	height: 275px;
	position: relative;
	left: 535px;
	top: 50px;
}

.support-heroes{
  border: none;
	border-radius: 45%;
	background-color: #FFD302;
	width: 275px;
	height: 275px;
	position: relative;
	left: 565px;
	top: 50px;
}

.leftPicture{
	width: 310px;
	height: 700px;
	margin: 40px;
	padding: 20px;
	position: fixed;
	left: 5px;
	top: 20px;
}

.rightPicture{
	width: 335px;
	height: 700px;
	margin: 40px;
	padding: 20px;
	position: fixed;
	right: 5px;
	top: 20px;
}
.title-container{
	color: #3AA7F7;
	background-color: none;
	width:600px;
	margin: 10px;
	padding: 5px;
	height:50;
	font-size: 40px;
	position: relative;
	left: 625px;
	top -80px;
}
.heroes-container{
	background-color: none;
	border: none;
	width: 1000px;
	height: 1000px;
	margin: 40px;
	padding: 20px;
	position:relative;
	left: 350px;
	top: -30px;
}

.heroes-card{
	background-color: none;
	width:180px;
	height: 310px;
	margin: 20px;
	padding: 10px;
	position: relative;
	left: 30px;
	top: 30px;
	display: inline-block;
}

.heroes-name{
	font-size: 30px;
	color: #000001;
	position: relative;
	left: 20px;
	top: 5px;
}

.heroe-info{
	background-color: #003366;
	border-color: #000001;
	border-style: solid;
	width: 1000px;
	height: 1000px;
	margin: 20px;
	padding: 10px;
	position: relative;
	left: 400px;
	top: -30px;
	display: inline-block;
}

.heroe-photo{
	width: 410px;
	height: 800px;
	margin: 10px;
	padding: 5px;
	position: relative;
	left: 10px;
	top: 10px;
}

.hero-name{
	margin: 10;
	padding: 5px;
	font-size: 32px;
	position: relative;
	left: 100px;
	top: 10px;
}

.heroe-story{
	font-size: 24px;
	color: #FFFFFF;
	background-color: none;
	width: 455px;
	height: 800px;
	margin:10px;
	padding: 5px;
	position: relative;
	left: 500px;
	top: -800px;
}
