<main class = "heroe-info">

  <div class = "hero-name">
    <h1>{{name}}</h1>
  </div>

  <section class ="info-card">
    {{#each info}}
          {{> infoCard}}
    {{/each}}
  </section>

</main>
